Test Suites: 12 failed, 1 passed, 13 total
Tests: 86 failed, 5 passed, 91 total
Snapshots: 0 total  
Time: 24.231s

Test Suites: 13 passed, 13 total
Tests: 104 passed, 104 total
Snapshots: 0 total
Time: 19.37s

01 testing App

    ✓ renders without crashing (303ms)

02 testing SignInForm

    ✓ should render seven <div /> (19ms)
    ✓ should render four <label>s (4ms)
    ✓ should render four <input>s (63ms)
    ✓ renders a fname input (4ms)
    ✓ renders a lname input (4ms)
    ✓ should change the state of the Login Component (7ms)
    ✓ should change the state of the Login Component (5ms)

03 testing SignUpForm

    ✓ should render eleven <div /> (6ms)
    ✓ should render six <label>s (3ms)
    ✓ should render six <input>s (3ms)
    ✓ renders a uname input (2ms)
    ✓ renders a email input (2ms)
    ✓ renders a password input (3ms)
    ✓ renders a dob input (3ms)
    ✓ renders a mobileno input (3ms)
    ✓ renders a location input (3ms)
    ✓ should change the name state of login component (37ms)
    ✓ should change the email state of login component (4ms)
    ✓ should change the password state of login component (5ms)
    ✓ should change the dob state of login component (4ms)
    ✓ should change the mobileno state of login component (6ms)
    ✓ should change the location state of login component (3ms)
    ✓ valid path (83ms)

04 testing NavBar

    ✓ checking the NavBar NavLink router content (86ms
    ✓ checking the NavBar allpatients router content (4ms)
    ✓ checking the NavBar Book appointment router content (4ms)
    ✓ checking the NavBar all appointments router content (5ms)

05 testing AllPatients

    ✓ should set the state values (8ms)

06 testing AddPatient

    ✓ should render eight <div/> (95ms)
    ✓ should set the state values (92ms)
    ✓ should render five labels <label/> (3ms)
    ✓ should render five inputs <input/> (85ms)
    ✓ renders a name input (4ms)
    ✓ renders a name email (5ms)
    ✓ renders a name dob (4ms)
    ✓ renders a name location (86ms)
    ✓ renders a name mobile (4ms)
    ✓ should change the name state of adding patient (7ms)
    ✓ should change the email state of adding patient (6ms)
    ✓ should change the dob state of adding patient (85ms)
    ✓ should change the location state of adding patient (6ms)
    ✓ should change the mobileno state of adding patient (8ms)

07 testing ViewPatient

    ✓ should render seven <div /> (98ms)
    ✓ should render five labels <span/> (5ms)
    ✓ renders a name input (5ms)
    ✓ renders a email (81ms)
    ✓ renders a dob (4ms)
    ✓ renders a location (5ms)
    ✓ renders a mobile (4ms)

08 testing EditPatient

    ✓ should render eight <div/> (99ms)
    ✓ should render five labels <label/> (5ms)
    ✓ should render three inputs <input/> (4ms)
    ✓ renders a name input (4ms)
    ✓ renders a email (86ms)
    ✓ renders a dob (4ms)
    ✓ renders a location (4ms)
    ✓ renders a mobile (5ms)
    ✓ should change the name state of adding patient (89ms)
    ✓ should change the email state of adding patient (6ms)
    ✓ should change the dob state of adding patient (6ms)
    ✓ should change the location state of adding patient (97ms)
    ✓ should change the mobile state of adding patient (5ms)

09 testing BookAppointment

    ✓ should render eight <div/> (104ms)
    ✓ should set the state values (108ms)
    ✓ should render five labels <label/> (5ms)
    ✓ should render three inputs <input/> (5ms)
    ✓ should render two selects <select/> (4ms)
    ✓ renders a name input (6ms)
    ✓ renders a name disease (83ms)
    ✓ renders a name appdate (5ms)
    ✓ renders a name slot (8ms)
    ✓ renders a description (7ms)
    ✓ should change the disease state of adding patient (80ms)
    ✓ should change the appdate state of adding patient (98ms)
    ✓ should change the description state of adding patient (7ms)

10 testing AllAppointments

    ✓ should set the state values (8ms)

11 testing ViewAppointment

    ✓ should render eight <div/> (108ms)
    ✓ should render five labels <label/> (87ms)
    ✓ renders a name input (5ms)
    ✓ renders a disease (4ms)
    ✓ renders a appdate (4ms)
    ✓ renders a slot (2ms)
    ✓ renders a description (81ms)

12 testing EditAppointment

    ✓ should render eight <div/> (106ms)
    ✓ should render five labels <label/> (5ms)
    ✓ should render three inputs <input/> (4ms)
    ✓ renders a name input (5ms)
    ✓ renders a disease (4ms)
    ✓ renders a appdate (2ms)
    ✓ renders a slot (3ms)
    ✓ renders a description (80ms)
    ✓ should change the name state of adding patient (10ms)
    ✓ should change the disease state of adding patient (5ms)
    ✓ should change the appdate state of adding patient (86ms)
    ✓ should change the slot state of adding patient (12ms)
    ✓ should change the description state of adding patient (90ms)

13 testing ViewProfile

    ✓ should render nine <div/> (102ms)
    ✓ should render five span <span/> (4ms)
    ✓ renders a name input (4ms)
    ✓ renders a email (89ms)
    ✓ renders a dob (4ms)
    ✓ renders a location (5ms)
    ✓ renders a mobile (4ms)
